@media screen and (min-width: 700px) and (max-width:900px){

    .container-register{
        max-width: 550px;
        min-height: 75vh;


    }



}












@media screen and (max-width: 700px){
    .container-register{
        max-width: 500px;
        min-height: 70vh;
    }



}